/* TailwindCss Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Custom Styles */
@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  @import url('https://rsms.me/inter/inter.css');
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  h4 {
    @apply text-base font-semibold;
  }
  h5 {
    @apply text-sm font-medium;
  }
  h6 {
    @apply text-xs font-medium;
  }
  html {
    @apply text-base font-sans font-normal;
  }
}

@layer utilities {
  @variants hover, focus, focus-visible {
    .bg-theme {
      @apply bg-primary-600 dark:bg-primary-700 text-gray-100 hover:bg-primary-700 dark:hover:bg-primary-800;
    }
    .border-theme {
      @apply border-primary-600 dark:border-primary-700;
    }
		.text-theme {
			@apply text-primary-600 dark:text-primary-600;
		}
  }
  @variants dark, hover {
    .glass-0 {
      @apply bg-transparent bg-opacity-0;
      backdrop-filter: blur(5px);
    }
    .glass-5 {
      @apply bg-white bg-opacity-5;
      backdrop-filter: blur(5px);
    }
    .glass-10 {
      @apply bg-white bg-opacity-10;
      backdrop-filter: blur(10px);
    }
    .glass-25 {
      @apply bg-white bg-opacity-25;
      backdrop-filter: blur(25px);
    }
    .glass-burned-5 {
      @apply bg-black bg-opacity-5;
      backdrop-filter: blur(5px);
    }
    .glass-burned-10 {
      @apply bg-black bg-opacity-10;
      backdrop-filter: blur(10px);
    }
    .glass-burned-25 {
      @apply bg-black bg-opacity-25;
      backdrop-filter: blur(25px);
    }
    .blur-1 {
      backdrop-filter: blur(5px);
    }
    .blur-2 {
      backdrop-filter: blur(10px);
    }
    .blur-4 {
      backdrop-filter: blur(20px);
    }
    .blur-8 {
      backdrop-filter: blur(40px);
    }
  }
  @variants hover, focus-visible {
    .elevation-0 {
      @apply bg-primary-900 bg-opacity-0 dark:bg-primary-100 dark:bg-opacity-0;
    }
    .raise-5 {
      @apply bg-primary-900 bg-opacity-5 dark:bg-primary-100 dark:bg-opacity-5;
    }
    .raise-10 {
      @apply bg-primary-900 bg-opacity-10 dark:bg-primary-100 dark:bg-opacity-10;
    }
    .raise-25 {
      @apply bg-primary-900 bg-opacity-25 dark:bg-primary-100 dark:bg-opacity-25;
    }
    .raise-50 {
      @apply bg-primary-900 bg-opacity-50 dark:bg-primary-100 dark:bg-opacity-50;
    }
    .raise-75 {
      @apply bg-primary-900 bg-opacity-75 dark:bg-primary-100 dark:bg-opacity-75;
    }
    .raise-90 {
      @apply bg-primary-900 bg-opacity-90 dark:bg-primary-100 dark:bg-opacity-25;
    }
    .raise-95 {
      @apply bg-primary-900 bg-opacity-95 dark:bg-primary-100 dark:bg-opacity-95;
    }
    .lower-5 {
      @apply bg-primary-100 bg-opacity-5 dark:bg-primary-900 dark:bg-opacity-5;
    }
    .lower-10 {
      @apply bg-primary-100 bg-opacity-10 dark:bg-primary-900 dark:bg-opacity-10;
    }
    .lower-25 {
      @apply bg-primary-100 bg-opacity-25 dark:bg-primary-900 dark:bg-opacity-25;
    }
    .lower-50 {
      @apply bg-primary-100 bg-opacity-50 dark:bg-primary-900 dark:bg-opacity-50;
    }
    .lower-75 {
      @apply bg-primary-100 bg-opacity-75 dark:bg-primary-900 dark:bg-opacity-75;
    }
    .lower-90 {
      @apply bg-primary-100 bg-opacity-90 dark:bg-primary-900 dark:bg-opacity-90;
    }
    .lower-95 {
      @apply bg-primary-100 bg-opacity-95 dark:bg-primary-900 dark:bg-opacity-95;
    }
  }
  @variants dark, hover, focus-visible {
    .bg-darken-5 {
      @apply bg-primary-900 bg-opacity-5;
    }
    .bg-darken-10 {
      @apply bg-primary-900 bg-opacity-10;
    }
    .bg-darken-25 {
      @apply bg-primary-900 bg-opacity-25;
    }
    .bg-darken-50 {
      @apply bg-primary-900 bg-opacity-50;
    }
    .bg-darken-75 {
      @apply bg-primary-900 bg-opacity-75;
    }
    .bg-darken-90 {
      @apply bg-primary-900 bg-opacity-90;
    }
    .bg-darken-95 {
      @apply bg-primary-900 bg-opacity-95;
    }
    .bg-lighten-5 {
      @apply bg-primary-100 bg-opacity-5;
    }
    .bg-lighten-10 {
      @apply bg-primary-100 bg-opacity-10;
    }
    .bg-lighten-25 {
      @apply bg-primary-100 bg-opacity-25;
    }
    .bg-lighten-50 {
      @apply bg-primary-100 bg-opacity-50;
    }
    .bg-lighten-75 {
      @apply bg-primary-100 bg-opacity-75;
    }
    .bg-lighten-90 {
      @apply bg-primary-100 bg-opacity-90;
    }
    .bg-lighten-95 {
      @apply bg-primary-100 bg-opacity-95;
    }
    .text-darken-5 {
      @apply text-primary-900 text-opacity-5;
    }
    .text-darken-10 {
      @apply text-primary-900 text-opacity-10;
    }
    .text-darken-25 {
      @apply text-primary-900 text-opacity-25;
    }
    .text-darken-50 {
      @apply text-primary-900 text-opacity-50;
    }
    .text-darken-75 {
      @apply text-primary-900 text-opacity-75;
    }
    .text-darken-90 {
      @apply text-primary-900 text-opacity-90;
    }
    .text-darken-95 {
      @apply text-primary-900 text-opacity-95;
    }
    .text-lighten-5 {
      @apply text-primary-100 text-opacity-5;
    }
    .text-lighten-10 {
      @apply text-primary-100 text-opacity-10;
    }
    .text-lighten-25 {
      @apply text-primary-100 text-opacity-25;
    }
    .text-lighten-50 {
      @apply text-primary-100 text-opacity-50;
    }
    .text-lighten-75 {
      @apply text-primary-100 text-opacity-75;
    }
    .text-lighten-90 {
      @apply text-primary-100 text-opacity-90;
    }
    .text-lighten-95 {
      @apply text-primary-100 text-opacity-95;
    }
  }
}

@layer components {
  @variants dark {
    .acc-focus-black {
      @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-inset;
    }
    .acc-focus-white {
      @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-inset;
    }
  }
  .acc-focus {
    @apply acc-focus-black dark:acc-focus-white;
  }
  .acc-input {
    @apply appearance-none focus:outline-none focus-visible:raise-5;
  }
  .input-text {
    @apply acc-input px-1 whitespace-nowrap elevation-0 justify-center placeholder-black placeholder-opacity-25 dark:placeholder-gray-100 dark:placeholder-opacity-25;
  }
  .input-text-area {
    @apply acc-input px-1 elevation-0 justify-center overflow-hidden resize-none placeholder-black placeholder-opacity-25 dark:placeholder-gray-100 dark:placeholder-opacity-25;
  }
  .input-text-visible {
    @apply appearance-none focus:outline-none focus-visible:raise-10 px-1 whitespace-nowrap justify-center raise-5 placeholder-black placeholder-opacity-25 dark:placeholder-gray-100 dark:placeholder-opacity-25;
  }
  .scroll {
    @apply scrollbar scrollbar-thumb-gray-400 scrollbar-track-gray-300 dark:scrollbar-thumb-gray-500 dark:scrollbar-track-gray-700;
  }
  .scroll-thin {
    @apply scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-300 dark:scrollbar-thumb-gray-500 dark:scrollbar-track-gray-700;
  }

  /* COLUMN COMPONENTS */
  .col-count-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .col-count-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .col-count-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .col-span {
    -webkit-column-span: all; 
    column-span: all; 
  }
  .col-width-2 {
    -webkit-column-width: 2rem;
    -moz-column-width: 2rem;
    column-width: 2rem;
  }
  .col-width-4 {
    -webkit-column-width: 4rem;
    -moz-column-width: 4rem;
    column-width: 4rem;
  }
  .col-width-6 {
    -webkit-column-width: 6rem;
    -moz-column-width: 6rem;
    column-width: 6rem;
  }
  .col-width-12 {
    -webkit-column-width: 12rem;
    -moz-column-width: 12rem;
    column-width: 12rem;
  }
  .col-width-24 {
    -webkit-column-width: 24rem;
    -moz-column-width: 24rem;
    column-width: 24rem;
  }
  .col-gap-1 {
    -webkit-column-gap: 0.25rem;
    -moz-column-gap: 0.25rem;
    column-gap: 0.25rem;
  }
  .col-gap-2 {
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
  }
  .col-gap-3 {
    -webkit-column-gap: 0.75rem;
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
  }
  .col-gap-4 {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .col-gap-5 {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .col-gap-6 {
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
  .col-gap-7 {
    -webkit-column-gap: 1.75rem;
    -moz-column-gap: 1.75rem;
    column-gap: 1.75rem;
  }
  .col-gap-8 {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .col-gap-12 {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .col-gap-16 {
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }
}

/* fabric icons */
@import url('./fabric-icons/css/fabric-icons.css');