/* TailwindCss Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Custom Styles */
@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
  @import url('https://rsms.me/inter/inter.css');
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  h4 {
    @apply text-base font-semibold;
  }
  h5 {
    @apply text-sm font-medium;
  }
  h6 {
    @apply text-xs font-medium;
  }
  html {
    @apply text-base font-sans font-light;
  }
}

@layer utilities {
  .glass-5 {
    @apply bg-white bg-opacity-5;
    backdrop-filter: blur(5px);
  }
  .glass-10 {
    @apply bg-white bg-opacity-10;
    backdrop-filter: blur(10px);
  }
  .glass-20 {
    @apply bg-white bg-opacity-20;
    backdrop-filter: blur(20px);
  }
  @variants hover, focus-visible {
    .elevation-0 {
      @apply bg-black bg-opacity-0 dark:bg-white dark:bg-opacity-0;
    }
    .raise-10 {
      @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-10;
    }
    .raise-25 {
      @apply bg-black bg-opacity-25 dark:bg-white dark:bg-opacity-25;
    }
    .raise-50 {
      @apply bg-black bg-opacity-50 dark:bg-white dark:bg-opacity-50;
    }
    .raise-75 {
      @apply bg-black bg-opacity-75 dark:bg-white dark:bg-opacity-75;
    }
    .raise-90 {
      @apply bg-black bg-opacity-90 dark:bg-white dark:bg-opacity-25;
    }
    .lower-10 {
      @apply bg-white bg-opacity-10 dark:bg-black dark:bg-opacity-10;
    }
    .lower-25 {
      @apply bg-white bg-opacity-25 dark:bg-black dark:bg-opacity-25;
    }
    .lower-50 {
      @apply bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50;
    }
    .lower-75 {
      @apply bg-white bg-opacity-75 dark:bg-black dark:bg-opacity-75;
    }
    .lower-90 {
      @apply bg-white bg-opacity-90 dark:bg-black dark:bg-opacity-90;
    }
  }
}

@layer components {
  .acc-focus {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-inset;
  }
  .acc-input {
    @apply appearance-none focus:outline-none focus-visible:raise-25;
  }
}

/* fabric icons */
@import url('./fabric-icons/css/fabric-icons.css');