/* TailwindCss Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Custom Styles */
@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 500;
    src: url('https://rsms.me/inter/inter.css') format("woff");
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  h4 {
    @apply text-base font-semibold;
  }
  h5 {
    @apply text-sm font-medium;
  }
  h6 {
    @apply text-xs font-medium;
  }
  html {
    @apply text-base font-sans font-light;
  }
}

@layer components {
  .acc-btn {
    @apply focus:outline-none focus-visible:outline-black;
  }
}

@layer utilities {
  .glass-5 {
    @apply bg-white bg-opacity-5;
    backdrop-filter: blur(5px);
  }
  .glass-10 {
    @apply bg-white bg-opacity-10;
    backdrop-filter: blur(10px);
  }
  .glass-20 {
    @apply bg-white bg-opacity-20;
    backdrop-filter: blur(20px);
  }
  @variants hover {
    .elevation-2 {
      @apply bg-black bg-opacity-2 dark:bg-white dark:bg-opacity-2;
    }
    .elevation-4 {
      @apply bg-black bg-opacity-4 dark:bg-white dark:bg-opacity-4;
    }
    .elevation-5 {
      @apply bg-black bg-opacity-5 dark:bg-white dark:bg-opacity-5;
    }
    .elevation-6 {
      @apply bg-black bg-opacity-6 dark:bg-white dark:bg-opacity-6;
    }
    .elevation-8 {
      @apply bg-black bg-opacity-8 dark:bg-white dark:bg-opacity-8;
    }
    .elevation-10 {
      @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-10;
    }
    .elevation-15 {
      @apply bg-black bg-opacity-15 dark:bg-white dark:bg-opacity-15;
    }
    .elevation-20 {
      @apply bg-black bg-opacity-20 dark:bg-white dark:bg-opacity-20;
    }
    .elevation-25 {
      @apply bg-black bg-opacity-25 dark:bg-white dark:bg-opacity-25;
    }
    .elevation-30 {
      @apply bg-black bg-opacity-30 dark:bg-white dark:bg-opacity-30;
    }
  }
}

/* fabric icons */
@import url('./fabric-icons/css/fabric-icons.css');